ENV=development
PORT=3000

JWT_SECRET=
BCRYPT_SALT_ROUNDS=10

# # Connect to Supabase via connection pooling
# DATABASE_URL="postgresql://postgres.antoskhssvjeayjvdpbr:PWlibrary-projek@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DATABASE_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

LOG_LEVEL=debug